*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.ProposalLink{
    text-decoration: none;
}
.ProposalButton{
    background:white;
    border:2px solid var(--proposalBtnColor);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--proposalBtnColor);
    font-weight:500;
    font-size:1.1rem;
    padding:10px;
    border-radius:5px;
    margin:25px;
}
.ProposalButton:hover{
    color:white;
    background:var(--proposalBtnColor);
    cursor: pointer;
}